.box-model {
    background-color: grey;
    display:flow-root;
    }

.box-model p {
    display:block;
    border: 5px solid black;
    margin: 40px;
    padding: 40px;
    background-color: pink;
  }

  section.centering {
    width: 300px;
    margin: 0 auto;
    background-color: lightgreen;
    padding: 20px;
  }

.hello {
    display:block;
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

  }