@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');


*,
*::after,
*::before {
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.logo{
    margin: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.titleHomepage,
.titleGrid {
    font-family: Notable;
    text-align: center;
}

.subtitleGrid{
    padding: 15px;
    font-size: 1.4em;
    color: #406b94;
}

body{
    font-family:"Arial", "Helvetica", "sans-serif";
}

.headerArticles{
    display: none;
}

#asideHomepageFlex + footer
 {
    font-size: 0.8em;
}

.cookie {
    flex: 0 1 auto;
    margin-left: auto;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 8px;
    font-size: 1.1em;
    color: #FFF;
    background-color: #FA0;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-align: center;
    position: fixed;
    border-radius: 13px;
    text-indent: 0px;
    opacity: 50%;
    padding: 8px;
    width: 200px;
    z-index: 9999;
    bottom: 0;
    right: 0;
}

.footer cite {
    float: left;
    padding: 15px;
    font-size: 1.1em;
}

footer {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.footerForArticle footer {
    margin-top: 8px;
}

 /* ------------- PC ------------- */
 @media screen and (min-width: 1280px) {

    .hamburgerMenu {
        display: none;
    }

    .cookie
    {
        margin-right: 10px;
    }

    /* -------- Homepage  -------- */

    .bodyParent {
        display: flex;
        flex-flow: row wrap;
    }

    .titleHomepage {
        text-align: center;
    }

    .navHomepageFlex {
        justify-content: center;
        flex: 1 0 100%;
        padding: 1.5rem;
        font-size: 1.4em;
        margin-top: 12px;
        margin-bottom: 12px;
        display: flex;
    }

    .navHomepageFlex {
        flex: 1 0 100%;
        font-size: 1.2em;
    }

    .navHomepageFlex li {
        padding-left: 40px;
        padding-right: 40px;
    }

    .navHomepageFlex a {
        color: #486D8F;
        text-decoration: solid;
        font-size: 1.2em; 
    }

    .navHomepageFlex a:hover {
        color:#FFF0DE;
    }
   
    .navHomepageFlex a:active {
        color: #486D8F;
    }
    
    .navHomepageFlex > ul {
        list-style-type: none;
        justify-content: center;
        text-transform: uppercase;
        background: #EBD3C0; 
        border-radius: 10px;
        padding: 1rem;
        display: flex;
    }

    
    #videoHomepageFlex{
        flex: 0 100%;
        display: flex;
        margin-top: 6px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: center;
    }
    
    #videoForPC {
        width: 60%;
        border-width: 3px;
        border-radius: 3px;
        border-color: #486D8F;
        border-style:groove;
    }

    #videoForTablet {
        display: none;
    }

    #articlesHomepageFlex
    {
        flex: 1 0 0px;
        margin-left: 20px;
    }

    article {
        padding: 20px;
        margin-top: 12px;
        margin-left: 9px;
        margin: 12px;
    }
    
    #articlesHomepage {
        display: flex;
        flex-direction: column;
    }

    #article1,
    #article2,
    #article3 {
        font-size: 1.1em;
        border-bottom: 4px solid #486D8F;
    }

    .figureForArticle{
        float: right;
    }

    .figureForArticle figcaption {
        margin-left: 20px;
    }

    .figureForArticle img {
        width: 500px;
        margin-top: 15px;
        margin-left: 15px;
        border: 1px solid #486D8F;
        border-radius: 15px;
    }

    #asideHomepageFlex {
        flex: 0 0 400px;
        padding-right: 18px;
        padding-left: 58px;
        font-size: 1.2em;
        margin-right: 20px;
    }
    
    #asideHomepageFlex li {
        line-height: 40px;
    }

    .callToAction {
        margin-top: 50px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        background: #EBD3C0; 
        border-radius: 10px;
        padding: 1.9rem;
    }


    /* -------------------------------------------------------------------------------- */
    /* --- Detail pages 1,2,3 (Neighbourhood, Education, Activities) - PC & Grid --- */
    
    .bodyGridContainer{
        display:grid;
    }

    .headerGridNeighbourhood{
        font-size: 1.3rem;
        text-align: center;
    }
    
    .navGridNeighbourhood {
        /*display: grid;
        justify-content: center;
        text-transform: uppercase;
        background: #EBD3C0; 
        border-radius: 10px;
        font-size: 1.3em;
        margin-bottom: 10px;
        margin-top: 10px;*/
        font-size: 1.1em;
        margin-bottom: 10px;
        margin-top: 10px;
        display: grid;
        justify-content: center;
        padding: 15px;
    }

    .navGridNeighbourhood > ul {
        grid-template-columns: auto auto auto auto auto auto;
        justify-content: center;
        list-style-type: none;
        display: grid;
        font-size: 1.1em;
        padding: 1rem;
        text-transform: uppercase;
        background: #EBD3C0;
        border-radius: 10px;
    }
    
    .navGridNeighbourhood li {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .navGridNeighbourhood a {
        font-size: 1.2em; 
        color: #486D8F;
        text-decoration: solid;
    }
    
    .navGridNeighbourhood a:hover {
        color: #FFF0DE;
    }
    
    .navGridNeighbourhood a:active {
        color: #486D8F;
    }
    .articlesGridContainer {
        display: grid;
        grid-template-columns: 40% 35% auto;
        grid-template-rows: auto;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        margin-left: 20px;
        margin-top: 10px;
        margin-right: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        grid-template-areas: 
            "articleNeighbourhood2 articleNeighbourhood1 articleNeighbourhood3"
            "articleNeighbourhood2 articleNeighbourhood1 articleNeighbourhood3"
            "articleNeighbourhood5 articleNeighbourhood1 articleNeighbourhood3"
            "articleNeighbourhood5 articleNeighbourhood1 articleNeighbourhood4"
            "articleNeighbourhood5 articleNeighbourhood1 articleNeighbourhood4"
            "articleNeighbourhood5 articleNeighbourhood1 articleNeighbourhood4"
            "articleNeighbourhood5 articleNeighbourhood6 articleNeighbourhood6";
    }
    .articlesGridContainer + article {
        background-color: #FEDDC4;
    }
    
    #articleNeighbourhood1 {
        grid-area: articleNeighbourhood1;
        place-self: center;
    }
    
    #articleNeighbourhood2 {
        grid-area: articleNeighbourhood2;
    }
    
    #articleNeighbourhood3 {
        grid-area: articleNeighbourhood3;
        place-self: end;
    }
    
    #articleNeighbourhood4 {
        grid-area: articleNeighbourhood4;
        place-self: end;
    }

    #articleNeighbourhood5 {
        grid-area: articleNeighbourhood5;
    }
   
    #articleNeighbourhood6 {
        grid-area: articleNeighbourhood6;
    }

    
    .articleNeighbourhood {
        border-radius: 10px;
        font-size: 1.2em;
        text-align: center;
    }

    #asideGridNeighbourhood {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        justify-content: space-around;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .asideGridContainerNeighbourhood {
        display: grid;
        grid-template-columns: 40% 35% auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .imageAsideNeighbourhood {
        width: 400px;
        height: 250px;
        border: #486D8F 2px solid;
        border-radius: 10px;
    }

    /* -------- Detail page 4 (Health) - PC & Grid -------- */
    .bodyGridContainer {
        display: grid;
    }

    #articleHealth {
        font-size: 1.2em;
        text-align: left;
    }

    #articleHealth h2,
    #articleHealth p,
    #articleHealth footer {
        padding:12px;
    }

    .imgArticleHealth {
        margin: 8px;
        float: left;
    }

    .imgArticleHealth img {
        width: 250px;
        border: #486D8F 3px solid;
        border-radius: 7px;
    }

    .contentContainerTable{
        display: grid;
        grid-template-columns: 40% 30% auto;
        justify-content: start;
        grid-template-areas: 
        "table table aside"
    }

    #tableHealth {
        grid-area: table;
        overflow-x: auto;
        border-collapse: collapse;
        place-self: center;
        margin-left: 17px;
    }

    #tableHealth tr:nth-child(2n+0) {
        background-color: #FFF;
    }
    
    #tableHealth tr:nth-child(2n+1) {
        background-color: #FEDDC4;
    }

    #tableHealth,
    #tableHealth th,
    #tableHealth td {
        padding: 8px;
        border: #486D8F 3px solid;
    }

    #tableHealth tr:hover {
        background-color: #8db6da;
    }

    #tableHealth th {
        text-align: center;
        font-size: 1.1em;
    }

    #tableHealth td {
        text-align: center;
        font-size: 1.1em;
    }

    #footerHealth {
        font-size: 1em;
        margin-top: 4px;
        margin-left: 10px;
    }

    .asideHealth{
        grid-area: aside;
        place-self: start;
        margin-left: 8px;
        display: grid;
        padding: 12px;
        justify-content: space-between;
        grid-gap: 15px;
    }

    .asideHealth h2 {
        text-align: center;
        font-size: 2em;
    }

    .imgHealthAside {
        width: 400px;
        height: 250px;
        border: #486D8F 2px solid;
        margin-bottom: 43px;
        border-radius: 6px;
    }

    /* -------- CONTACT page - PC & Grid -------- */
    .bodyContactGrid {
        display: grid;
    } 

    #contactContainer{
        display: grid;
        grid-template-columns: 40% 30% auto;
        justify-content: start;
        grid-template-areas: 
        "form form aside"; 
        justify-content: center;
        margin-left: 15px;
        margin-top: 15px;
        margin-right: 15px;
        border-radius: 10px;
    }

    #contactForm {
        grid-area: form;
        place-self: center; 
        width: 1000px;
        font-size: 1.5em;
    }

    #contactForm li {
        list-style-type:circle;
        padding: 5px;
        margin-left: 10px;
        margin-bottom: 3px;
        
    }

    #contactForm legend {
        padding: 12px;
        font-size: 1.4em;
    }

    #contactForm input {
        vertical-align:middle;
    }

    #contactForm textarea {
        height: 120px;
        vertical-align: top;
        resize: vertical;
    }

    #contactForm input,
    #contactForm textarea,
    #contactForm select {
        background-color: #afd4f6;
        width: 400px;
        font-size: 0.8em;
        padding: 5px;
        margin: 10px;
        border-radius: 9px;
    }

    #contactForm button {        
        background-color: #FEDDC4;
        width: 500px;
        margin-top: 25px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 20px;
        font-size: 1.5em;
        border: #6394bf 1px solid;
        border-radius: 50px;
    }

    #contactForm button:hover {
        color:#FEDDC4;
        background-color: #486D8F;

    }

}

/* -------------- Tablet Flex -------------- */
@media screen and (min-width: 480px) and (max-width: 1279px) {
    .cookie
    {
        margin-right: 18px;
    }

    /* -------- Homepage  -------- */

    .bodyParent {
        display: flex;
        flex-flow: row wrap;
    }

    .logo {
        order: -1;
    }

    .headerHomepageFlex {
        order: -1;
        flex: 1 0 100%;
        font-size: 1.2em;
        margin-bottom: 10px;
        text-align: center;
    }

    .hamburgerMenu {
        display: none;
    }

    .navHomepageFlex {
        order: -1;
        flex: 1 0 100%;
        display: flex;
        margin-bottom: 15px;
        justify-content: center;
    }

    .navHomepageFlex li {
        padding-left: 18px;
        padding-right: 18px;
    }

    .navHomepageFlex a {
        color: #486D8F;
        text-decoration: none;
    }

    .navHomepageFlex a:hover {
        color:#FFF0DE;
    }
   
    .navHomepageFlex a:active {
        color: #486D8F;
    }
    
    .navHomepageFlex > ul {
        display: flex;
        justify-content: center;
        font-size: 1.4em;
        background: #EBD3C0;
        list-style-type: none;
        text-transform: uppercase;
        border-radius: 10px;
        padding: 0.5rem;
    }

    #videoHomepageFlex{
        display: flex;
        justify-content: center;
        margin-bottom: 18px;
        margin: auto;
        padding-top: 18px;
        border-radius: 10px;
        background-color:#FEDDC4;
        border: #486D8F 2px solid;
    }
    
    #videoForPC {
       display: none;
    }

    #videoForTablet {
        width: 80%;
        margin-bottom: 18px;
        border: 2px solid #406b94;
        border-radius: 8px;
    }

    .asideHomepageFlex {
        order: -1;
        padding-top: 8px;
        padding-left: 30px;
        padding-bottom: 18px;
        padding-right: 18px;
        border-radius: 10px;
        margin-bottom: 18px;
        font-size: 1.4em;
        text-align: left;
        margin: auto;
        background-color:#FEDDC4;
        border: #486D8F 2px solid;
    }

    #articlesHomepageFlex
    { 
        display: flex;
        flex-direction: column;
        background-color:#FEDDC4;
        border: #486D8F 2px solid;
        margin-left: 18px;
        margin-right: 181px;
        border-radius: 8px;
    }

    article {
        padding: 12px;
        margin: 12px;
    }

    #article1,
    #article2,
    #article3 {
        font-size: 1.2em;
        border-bottom: 4px solid #486D8F;
    }
    
    #article1 {
        order: 3;
    }

    #article2 {
        order: 2;
    }

    #article3 {
        order: 1;
    }

    .figureForArticle{
        float: left;
    }

    .figureForArticle img {
        width: 300px;
        margin-top: 15px;
        margin-left: 15px;
        border: 1px solid #486D8F;
        border-radius: 15px;
    }

    .moreInfoArticle {
        float:left;
    }
    
    .footerForArticle {
        float: right;
    }

    .callToAction {
        margin-top: 50px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        background: #EBD3C0; 
        border-radius: 10px;
        padding: 1.9rem;
    }

}



    
/* -------------- Mobile Flex -------------- */
@media screen and (max-width: 479px) {
    
    .logo {
        display: none;
    }

    .cookie {
        margin-right: 10px;
    }

    .navListHamburgerMenu {
        text-align: center;
        position: absolute;
        padding: 1rem;
        top: 4rem;
        right: 1rem;
        list-style: none;
        opacity: 0;
        font-size: 2rem;
        background-color: #0d0c0b;
        border-radius: 0.25em;
    }

    .navListHamburgerMenu li{
        padding: 0.5rem;
    }
    
    .navListHamburgerMenu li a{
        color: #e6d2c2;
        text-decoration: none;
    }
    
    .hamburgerMenu {
        order: -1;
        right: 1.7rem;
        top: 2rem;
        width: 25px;
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
        opacity: 0;
    }
    
    .hamburgerMenu:hover {
        cursor: pointer;
    }

    .hamburgerMenu:checked~.navListHamburgerMenu {
        display: block;
        opacity: 1;
    }

    .thisHamburgerMenuMobile {
        height: 3rem;
        width: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 0.5rem;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #110e0c;
        border-radius: 0.25em;
    }
    
    .thisHamburgerMenuMobile .line {
        background-color: #FEDDC4;
        border-radius: 1em;
        width: 2rem;
        height: 0.25rem;
    }

    
    .navHomepageFlex {
        display: flex;
        justify-content: center;
    }

    .navHomepageFlex > ul {
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .navHomepageFlex li {
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navHomepageFlex a:active {
        color: #486D8F;
    }

    
    

    /* -------------- Mobile Flexbox (HOMEPAGE) -------------- */
    .bodyParent {
        display: flex;
        flex-flow: row wrap;
    }
    
    .headerHomepageFlex {
        order: -1;
        flex: 0 0 80%;
        margin-bottom: 0.5em;
    }

    .titleHomepage  {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        margin-top: 5px;
        font-size: 1.9em;
    }

    #asideHomepageFlex {
        order: -1;
        margin-right: 10px;
        margin-left: 10px;
        padding-top: 10px;
        font-size: 1.4em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: left;
        border-top: #486D8F 4px solid;
        border-left: #486D8F 4px solid;
        border-right: #486D8F 4px solid;
    }
    
    #asideHomepageFlex ol {
        padding-right: 30px;
        padding-left: 50px;
    }
    
    #asideHomepageFlex {
        text-align: center;
        padding-bottom: 10px;
    }

    #videoForPC, #videoForTablet {
        display: none;
    }
    
    article {
        padding: 10px;
        margin: 15px;
    }
    
    #articlesHomepage {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 10px;
        margin-right: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: #486D8F 2px solid;
        border-right: #486D8F 2px solid;
        border-bottom: #486D8F 2px solid;
    }
    
    #article1,
    #article2,
    #article3 {
        font-size: 1.2em;
        border-bottom: 2px solid #486D8F;
    }

    .figureForArticle img {
        width: 80%;
        margin-top: 15px;
        margin-right: 15px;
        border: 3px solid #486D8F;
    }
    
    
  }
 